.header {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    top: 0; left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(179, 179, 179, 0.836);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 100px;
    color: gray;
}

.nav_logo span {
    font-size: 23px;
    padding-left: 25px;
}

.navmenu {
    padding-right: 100px;
}

.navlist {
    display: flex;
    list-style: none;
}

.navlist li {
    padding: 8px 20px;
}

.navlist a {
    font-size: 20px;
    text-decoration: none;
    color: gray;
}